<h1>Editing generator</h1>

<%= render "form", generator: @generator %>

<br>

<div>
  <%= link_to "Show this generator", @generator %> |
  <%= link_to "Back to generators", generators_path %>
</div>
